.item {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--tile-background);
  /* border: 0.2rem solid var(--border-color); */
  color: var(--text-primary);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  transition: all 0.25s;
  align-items: center;
  float: left;
  width: 20rem;
  height: 21rem;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

.thumbnail {
  border-radius: 8px;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: left;
}

.channel {
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 1rem;
}

.description {
  text-align: justify;
  margin-top: 1rem;
  justify-content: left;
  align-items: left;
}

.publisedAt {
  margin-top: 0.5rem;
}
